article#tpl
    include components/meta.pug
        include components/resultBlock/resultBlock.pug
    
    .quiz-results
        .quiz-results__content
            h1.quiz-results__title
            p.quiz-results__subtitle!=data.subtitle
            .quiz-results__results
                each resultBlockData in data.results
                    +resultBlock(resultBlockData)


